In [1]:
def my_function(x,y, z=1.5):
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)

In [2]:
my_function(5,6,z=0.7)
my_function(3.14,7,3.5)
my_function(10,20)

45.0

In [3]:
def func():
    a = []
    for i in range(5):
        a.append(i)

In [4]:
a = []
def func():
    for i in range(5):
        a.append(i)

In [5]:
func()

In [6]:
a

[0, 1, 2, 3, 4]

In [7]:
a

[0, 1, 2, 3, 4]

In [8]:
func()

In [9]:
a

[0, 1, 2, 3, 4, 0, 1, 2, 3, 4]

In [10]:
a = None

In [11]:
def bind_a_variable():
    global a
    a = []
bind_a_variable()

In [12]:
print(a)

[]

In [13]:
#function is actually returning one object, 
# namely a tuple, which is then being unpacked into the result variables

def f():
    a = 5
    b = 6
    c = 7
    return a, b, c

In [14]:
a,b,c = f()

In [15]:
return_value = f()

In [16]:
#return of multiples values as dictionary
def f():
    a = 5
    b = 6
    c= 7
    return {'a' : a, 'b': b, 'c': c}

In [17]:
states = [ 'Albama', 'Georgia!', 'Georgia', 'geogia', 'FlOrIda', 'south carolina##' , 'West virginia?']

In [18]:
import re

In [19]:
def clean_string(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub('[!#?]','', value)
        value = value.title()
        result.append(value)
    return result

In [20]:
clean_string(states)

['Albama',
 'Georgia',
 'Georgia',
 'Geogia',
 'Florida',
 'South Carolina',
 'West Virginia']

In [21]:
def remove_punctuation(value):
    return re.sub('[!#?]', '', value)

In [22]:
clean_ops = [str.strip, remove_punctuation, str.title]

In [23]:
#list of operations you want to apply to a particular set of strings
def clean_string(strings, ops):
    result = []
    for value in strings:
        for function in ops:
            value = function(value)
        result.append(value)
    return result

In [24]:
clean_string(states,clean_ops)

['Albama',
 'Georgia',
 'Georgia',
 'Geogia',
 'Florida',
 'South Carolina',
 'West Virginia']

In [25]:
for x in map(remove_punctuation, states):
    print(x)

Albama
Georgia
Georgia
geogia
FlOrIda
south carolina
West virginia

In [26]:
def short_function(x):
    return x * 2
equiv_anon = lambda x: x * 2

In [27]:
def apply_to_list(some_list, f):
    return [ f(x) for x in some_list]

ints = [4, 0, 1, 5, 6]
apply_to_list(ints, lambda x: x * 2)

[8, 0, 2, 10, 12]

In [28]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']

In [29]:
strings.sort(key = lambda x : len(set(list(x))))

In [30]:
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

In [31]:
#Currying -  deriving new functions from existing ones by partial arguement application
def add_numbers(x,y):
    return x + y

In [32]:
add_five = lambda y: add_numbers(5, y)

In [33]:
from functools import partial
add_five = partial(add_numbers, 5)

In [34]:
some_dict = {'a' : 1, 'b': 2, 'c': 3}

In [35]:
for key in some_dict:
    print(key)

a
b
c

In [36]:
dict_iterator = iter(some_dict)

In [37]:
dict_iterator

In [38]:
list(dict_iterator)

['a', 'b', 'c']

In [39]:
def squares(n=10):
    print('Generating squares from 1 to {0}'.format(n ** 2))
    for i in range(1,  n + 1):
        yield i ** 2

In [40]:
gen = squares()

In [41]:
gen

In [42]:
for x in gen:
    print(x, end=' ')

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

In [43]:
gen = (x ** 2 for x in range(100))

In [44]:
gen

In [45]:
def _make_gen():
    for x in range(100):
        yield x ** 2
gen = _make_gen()

In [46]:
sum(x ** 2 for x in range(100))

328350

In [47]:
dict((i, i **2) for i in range(5))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [48]:
import itertools

In [49]:
first_letter = lambda x: x[0]

In [50]:
names = ['Alam', 'Adam', 'Wes', 'Will', 'Albert', 'Stevens']

In [51]:
for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names)) #name is a generator

A ['Alam', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Stevens']

In [52]:
float('1.2345')

1.2345

In [53]:
float('something')

ValueError: could not convert string to float: 'something'

In [54]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x
# The except part in the block will only execute if float(x) raises an exception

In [55]:
attempt_float('1.2345')

1.2345

In [56]:
attempt_float('something')

'something'

In [57]:
float((1,2))

TypeError: float() argument must be a string or a number, not 'tuple'

In [58]:
def  attempt_float(x):
    try:
        return float(x)
    except ValueError:
        return x

In [59]:
attempt_float((1,2))

TypeError: float() argument must be a string or a number, not 'tuple'

In [60]:
def attempt_float(x):
    try:
        return float(x)
    except (TypeError, ValueError):
        return x

In [86]:
f = open(path, 'w')

try:
        write_to_file(f)
except:
        print('Failed')
else:
        print('Succeeded')
finally:
        f.close()

NameError: name 'path' is not defined

In [87]:
import pandas as pd

In [89]:
haris = pd.DataFrame({"my name": ["Ha", "Al", "Sum"],
               "number": ["1","2","3"]})
haris

  my name number
0      Ha      1
1      Al      2
2     Sum      3

In [90]:
pd.DateOffset

pandas.tseries.offsets.DateOffset

In [93]:
?DataOffset

Object `DataOffset` not found.

SyntaxError: invalid syntax (<ipython-input-97-79600ae094f6>, line 1)