# NYC Open Data Analysis
## Haris Sumra
### 09/08/2019

### Note
* In this Module 1; I will be setting up data for future analysis

### Dependencies and Setup

In [21]:
import pandas as pd
import numpy as np

### File to load and creating variables

In [22]:
Module_1_311 = {'owner' : 'NYC OpenData',
                   'data_provider' : ["311", "DoITT"],
                   'public' : True,
                   'personally_identifying_information' : False,
                   'data_dictionary' : True,
                   'data_dictionary_type' : "Excel",
                   'data_dictionary_url' : "https://nycopendata.socrata.com/api/views/erm2-nwe9/files/68b25fbb-9d30-486a-a571-7115f54911cd?download=true&filename=311_SR_Data_Dictionary_2018.xlsx",
                   'num_rows' : 20700000,
                   'num_cols' : 41
                   }

### Total number of data in data set

In [25]:
Total_data= Module_1_311["num_rows"] * Module_1_311["num_cols"]
print(Total_data)

848700000

### Check to see if there are more rows than columns

In [28]:
Greater_df = Module_1_311['num_rows'] > Module_1_311['num_cols']
print(Greater_df)

True

### Creating data frame to show my personality

In [27]:
df = pd.DataFrame(
    {"Hobby": ["Swimming", "Tennis"],
     "Career Goals": ["Data Analyst", "Actuary"]
     }
)
df

      Hobby  Career Goals
0  Swimming  Data Analyst
1    Tennis       Actuary