In [3]:
def my_function(x,y, z=1.5):
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)

In [4]:
my_function(5,6,z=0.7)
my_function(3.14,7,3.5)
my_function(10,20)

45.0

In [5]:
def func():
    a = []
    for i in range(5):
        a.append(i)

In [8]:
a = []
def func():
    for i in range(5):
        a.append(i)

In [11]:
func()

In [12]:
a

[0, 1, 2, 3, 4]

In [13]:
a

[0, 1, 2, 3, 4]

In [14]:
func()

In [15]:
a

[0, 1, 2, 3, 4, 0, 1, 2, 3, 4]

In [16]:
a = None

In [25]:
def bind_a_variable():
    global a
    a = []
bind_a_variable()

In [26]:
print(a)

[]

In [33]:
#function is actually returning one object, 
# namely a tuple, which is then being unpacked into the result variables

def f():
    a = 5
    b = 6
    c = 7
    return a, b, c

In [34]:
a,b,c = f()

In [35]:
return_value = f()

In [36]:
#return of multiples values as dictionary
def f():
    a = 5
    b = 6
    c= 7
    return {'a' : a, 'b': b, 'c': c}

In [49]:
states = [ 'Albama', 'Georgia!', 'Georgia', 'geogia', 'FlOrIda', 'south carolina##' , 'West virginia?']

In [50]:
import re

In [57]:
def clean_string(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub('[!#?]','', value)
        value = value.title()
        result.append(value)
    return result

In [58]:
clean_string(states)

['Albama',
 'Georgia',
 'Georgia',
 'Geogia',
 'Florida',
 'South Carolina',
 'West Virginia']

In [63]:
def remove_punctuation(value):
    return re.sub('[!#?]', '', value)

In [64]:
clean_ops = [str.strip, remove_punctuation, str.title]

In [67]:
#list of operations you want to apply to a particular set of strings
def clean_string(strings, ops):
    result = []
    for value in strings:
        for function in ops:
            value = function(value)
        result.append(value)
    return result

In [68]:
clean_string(states,clean_ops)

['Albama',
 'Georgia',
 'Georgia',
 'Geogia',
 'Florida',
 'South Carolina',
 'West Virginia']

In [69]:
for x in map(remove_punctuation, states):
    print(x)

Albama
Georgia
Georgia
geogia
FlOrIda
south carolina
West virginia

In [72]:
def short_function(x):
    return x * 2
equiv_anon = lambda x: x * 2

In [74]:
def apply_to_list(some_list, f):
    return [ f(x) for x in some_list]

ints = [4, 0, 1, 5, 6]
apply_to_list(ints, lambda x: x * 2)

[8, 0, 2, 10, 12]

In [75]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']

In [78]:
strings.sort(key = lambda x : len(set(list(x))))

In [79]:
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

In [81]:
#Currying -  deriving new functions from existing ones by partial arguement application
def add_numbers(x,y):
    return x + y

In [82]:
add_five = lambda y: add_numbers(5, y)

In [83]:
from functools import partial
add_five = partial(add_numbers, 5)

In [84]:
some_dict = {'a' : 1, 'b': 2, 'c': 3}

In [85]:
for key in some_dict:
    print(key)

a
b
c

In [86]:
dict_iterator = iter(some_dict)

In [87]:
dict_iterator

In [88]:
list(dict_iterator)

['a', 'b', 'c']

In [91]:
def squares(n=10):
    print('Generating squares from 1 to {0}'.format(n ** 2))
    for i in range(1,  n + 1):
        yield i ** 2

In [92]:
gen = squares()

In [93]:
gen

In [94]:
for x in gen:
    print(x, end=' ')

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

In [95]:
gen = (x ** 2 for x in range(100))

In [96]:
gen

In [101]:
def _make_gen():
    for x in range(100):
        yield x ** 2
gen = _make_gen()

In [102]:
sum(x ** 2 for x in range(100))

328350

In [103]:
dict((i, i **2) for i in range(5))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [104]:
import itertools

In [105]:
first_letter = lambda x: x[0]

In [107]:
names = ['Alam', 'Adam', 'Wes', 'Will', 'Albert', 'Stevens']

In [109]:
for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names)) #name is a generator

A ['Alam', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Stevens']

In [111]:
float('1.2345')

1.2345

In [114]:
float('something')

ValueError: could not convert string to float: 'something'

In [117]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x
# The except part in the block will only execute if float(x) raises an exception

In [118]:
attempt_float('1.2345')

1.2345

In [119]:
attempt_float('something')

'something'

In [120]:
float((1,2))

TypeError: float() argument must be a string or a number, not 'tuple'

In [123]:
def  attempt_float(x):
    try:
        return float(x)
    except ValueError:
        return x

In [124]:
attempt_float((1,2))

TypeError: float() argument must be a string or a number, not 'tuple'

In [125]:
def attempt_float(x):
    try:
        return float(x)
    except (TypeError, ValueError):
        return x

In [136]:
f = open(path, 'w')

try:
        write_to_file(f)
except:
        print('Failed')
else:
        print('Succeeded')
finally:
        f.close()

NameError: name 'path' is not defined