In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame({'key1':['a','a','b','b','a'],
                  'key2': ['one','two','one','two','one'],
                  'data1': np.random.randn(5),
                  'data2': np.random.randn(5)})

In [3]:
df

  key1 key2     data1     data2
0    a  one  2.362735  1.241227
1    a  two -0.032160  0.994676
2    b  one -0.693603  0.403165
3    b  two -0.742026  0.489652
4    a  one -1.019083 -1.922361

In [4]:
df.groupby(['key1','key2']).size()

key1  key2
a     one     2
      two     1
b     one     1
      two     1
dtype: int64

In [5]:
import pandas as pd
import urllib.parse

limit = urllib.parse.quote("date_extract_y(grade_date) = 2018")
food_scores = pd.read_csv("https://data.cityofnewyork.us/resource/43nn-pn8j.csv?$where=" + limit)

food_scores.head()

,camis,dba,boro,building,street,zipcode,phone,cuisine_description,inspection_date,action,...,record_date,inspection_type,latitude,longitude,community_board,council_district,census_tract,bin,bbl,nta
0,50054568,BURGER KING,Queens,15929,JAMAICA AVE,11432.0,9089270130,American,2018-07-02T00:00:00.000,Violations were cited in the following area(s).,...,2019-11-29T06:00:50.000,Cycle Inspection / Re-inspection,40.703485,-73.799838,412.0,24.0,44601.0,4208839.0,4097560056,QN61
1,50011694,SWEET CHICK,Manhattan,178,LUDLOW ST,10002.0,6466570233,American,2018-12-21T00:00:00.000,Establishment re-opened by DOHMH,...,2019-11-29T06:00:50.000,Cycle Inspection / Reopening Inspection,40.721760,-73.987492,103.0,1.0,3001.0,1084893.0,1004120046,MN27
2,41657280,AENOS PIZZA,Bronx,1693,BOSTON ROAD,10460.0,7186177397,Pizza,2018-02-05T00:00:00.000,Violations were cited in the following area(s).,...,2019-11-29T06:00:50.000,Cycle Inspection / Re-inspection,40.836564,-73.889122,203.0,17.0,15500.0,2009883.0,2029400065,BX75
3,50044928,KELLY D JAMAICAN AND AMERICAN RESTAURANT,Queens,22411,MERRICK BLVD,11413.0,7189490390,Caribbean,2018-06-25T00:00:00.000,Violations were cited in the following area(s).,...,2019-11-29T06:00:50.000,Cycle Inspection / Re-inspection,40.677820,-73.745422,413.0,31.0,63000.0,4279330.0,4129630340,QN66
4,41717968,PADDY G'S,Queens,8634,BROADWAY,11373.0,7186727575,American,2018-05-15T00:00:00.000,Violations were cited in the following area(s).,...,2019-11-29T06:00:50.000,Cycle Inspection / Initial Inspection,40.737582,-73.877250,404.0,25.0,47300.0,4038770.0,4015490025,QN29

In [13]:
food_scores['cuisine_description'].describe()

count         1000
unique          64
top       American
freq           221
Name: cuisine_description, dtype: object

In [28]:
grouped = food_scores['score'].groupby(food_scores['cuisine_description'])

In [29]:
grouped

In [30]:
grouped.median()

cuisine_description
Afghan                                                              12.0
African                                                             12.5
American                                                            12.0
Armenian                                                            13.5
Asian                                                               11.0
Australian                                                           9.0
Bagels/Pretzels                                                     13.0
Bakery                                                              11.0
Bangladeshi                                                         11.0
Barbecue                                                             5.0
Bottled beverages, including water, sodas, juices, etc.              9.5
Brazilian                                                            9.0
CafÃ©/Coffee/Tea                                                     10.0
Caribbean                                                           12.0
Chicken                                                             11.0
Chinese                                                             12.0
Chinese/Cuban                                                       20.0
Chinese/Japanese                                                    14.0
Delicatessen                                                        10.0
Donuts                                                               9.0
Eastern European                                                    12.5
Egyptian                                                            10.0
Ethiopian                                                           12.0
Filipino                                                            10.0
French                                                              11.0
German                                                               9.0
Greek                                                               12.5
Hamburgers                                                          11.5
Hawaiian                                                            13.0
Ice Cream, Gelato, Yogurt, Ices                                      8.5
                                                                    ...
Jewish/Kosher                                                       11.0
Juice, Smoothies, Fruit Salads                                      10.0
Korean                                                              12.0
Latin (Cuban, Dominican, Puerto Rican, South & Central American)    12.0
Mediterranean                                                       12.5
Mexican                                                             12.0
Middle Eastern                                                      12.0
Other                                                               10.5
Pakistani                                                           12.5
Peruvian                                                            12.0
Pizza                                                               12.0
Pizza/Italian                                                       12.0
Polish                                                              11.0
Portuguese                                                          11.0
Russian                                                              5.0
Salads                                                              13.0
Sandwiches                                                           9.0
Sandwiches/Salads/Mixed Buffet                                      10.0
Scandinavian                                                         5.0
Seafood                                                             10.5
Soul Food                                                            9.5
Soups & Sandwiches                                                  13.0
Southwestern                                                        14.0
Spanish                                                             12.0
Steak                                                               11.0
Tex-Mex                                                             12.0
Thai                                                                12.0
Turkish                                                             12.0
Vegetarian                                                           7.0
Vietnamese/Cambodian/Malaysia                                        9.0
Name: score, Length: 64, dtype: float64

In [33]:
grouped_1 = food_scores['score'].groupby(food_scores['boro'])

In [34]:
grouped_1

In [35]:
grouped_1.mean()

boro
Bronx            12.947368
Brooklyn         13.334677
Manhattan        12.222222
Queens           13.037975
Staten Island    13.272727
Name: score, dtype: float64

In [36]:
grouped_2 = food_scores['grade'].groupby(food_scores['boro'])

In [39]:
grouped_2.count()

boro
Bronx             95
Brooklyn         248
Manhattan        387
Queens           237
Staten Island     33
Name: grade, dtype: int64