## Haris Sumra
### Analysis of Natural Gas Consumption by ZipCode
### Data: 10/06/2019

## I will be finding:
* Importing the CSV file
* Determing the size of the data
* Cleaning up the data by renaming the columns and dropping any unnecessary columns
* Looking at different building types and running statistical analysis
* Compare each building type using: mean, median, and standard deviation

### Importing the libraries I will be working on in this project

In [159]:
#Dependencies
import numpy as np
import pandas as pd

### Opening up the file saved in my project "Resources" folder

In [160]:
#Opening up the location of the stored data
file = 'Resources/Natural_Gas_Consumption_by_ZIP_Code_-_2010.csv'

### Storing file in new variable using pandas library comand

In [161]:
#Reading and using the head command to print out only first 5 rows of data
file_pd = pd.read_csv(file)
file_pd.head(10)

,Zip Code,Building type (service class,Consumption (therms),Consumption (GJ),Utility/Data Source,Unnamed: 5
0,10300,Commercial,470.0,50.0,National Grid,NaN
1,10335,Commercial,647.0,68.0,National Grid,NaN
2,10360,Large residential,33762.0,3562.0,National Grid,NaN
3,11200,Commercial,32125.0,3389.0,National Grid,NaN
4,11200,Institutional,3605.0,380.0,National Grid,NaN
5,11200,Small residential,3960.0,418.0,National Grid,NaN
6,11254,Small residential,1896.0,200.0,National Grid,NaN
7,11274,Commercial,8364.0,882.0,National Grid,NaN
8,11279,Commercial,2579.0,272.0,National Grid,NaN
9,11279,Large residential,301.0,32.0,National Grid,NaN

### Looking at how many rows and columns my file contain

In [175]:
#Looking at the type of data or the data size
rows, cols = file_pd.shape
print("There are " +str(rows) + " rows and " + str(cols) + " columns in our data")

There are 1015 rows and 6 columns in our data

### Dropping unnecessary columns such as "Unnamed: 5" in my file that contains no values

In [202]:
#It will drop any Unnecessary columns and we will create new variable
new_file_pd = file_pd.drop(columns = ['Unnamed: 5'])

### Renaming columns so it's easier to read

In [203]:
#changing the names of each column
new_file_pd = new_file_pd.rename(columns = {'Building type (service class':  "BuildingType", 'Utility/Data Source': 'Company', 
                                   ' Consumption (GJ) ': 'ConsumptionGJ'})
new_file_pd.head(10)

,Zip Code,BuildingType,Consumption (therms),ConsumptionGJ,Company
0,10300,Commercial,470.0,50.0,National Grid
1,10335,Commercial,647.0,68.0,National Grid
2,10360,Large Residential,33762.0,3562.0,National Grid
3,11200,Commercial,32125.0,3389.0,National Grid
4,11200,Institutional,3605.0,380.0,National Grid
5,11200,Small residential,3960.0,418.0,National Grid
6,11254,Small residential,1896.0,200.0,National Grid
7,11274,Commercial,8364.0,882.0,National Grid
8,11279,Commercial,2579.0,272.0,National Grid
9,11279,Large Residential,301.0,32.0,National Grid

### Creating new variable, and checking to see which Building Types are in data

In [225]:
UniqueBuildingType = new_file_pd['BuildingType'].unique()
UniqueBuildingType

array(['Commercial', 'Large Residential', 'Institutional',
       'Small residential', 'Industrial', 'Residential'], dtype=object)

In [226]:
new_file_pd['BuildingType'].value_counts()

Commercial           354
Residential          198
Large Residential    172
Small residential    110
Institutional         99
Industrial            82
Name: BuildingType, dtype: int64

### In this command we will join data that is the same building type but named a little differently

In [206]:
#Combining same building point data, and rename it to new variable
RenameLargeResidential = lambda x: x if x != 'Large residential' else 'Large Residential'
new_file_pd.BuildingType = file_pd.BuildingType.apply(RenameLargeResidential)
new_file_pd['BuildingType'].value_counts()

Commercial           354
Residential          198
Large Residential    172
Small residential    110
Institutional         99
Industrial            82
Name: BuildingType, dtype: int64

### Finding the median of all the Consumption rate in the data

In [207]:
Median_ConsumptionGJ = new_file_pd['ConsumptionGJ'].median()
Median_ConsumptionGJ

123000.0

### Another way to find the median

In [208]:
new_file_pd['ConsumptionGJ'].median()

123000.0

### Comparing the Consumption rate by each Building type

In [227]:
compare_values = new_file_pd.groupby('BuildingType').ConsumptionGJ.median()
compare_values

BuildingType
Commercial           189413.0
Industrial            16867.5
Institutional         66027.0
Large Residential    160960.0
Residential           53288.5
Small residential    599600.0
Name: ConsumptionGJ, dtype: float64

In [210]:
compare_values[compare_values < Median_ConsumptionGJ]

BuildingType
Industrial       16867.5
Institutional    66027.0
Residential      53288.5
Name: ConsumptionGJ, dtype: float64

### Looking at the analysis of each building type, and checking to see where the values fall

In [211]:
compare_values.groupby('BuildingType').describe()

,count,mean,std,min,25%,50%,75%,max
BuildingType,,,,,,,,
Commercial,1.0,189413.0,NaN,189413.0,189413.0,189413.0,189413.0,189413.0
Industrial,1.0,16867.5,NaN,16867.5,16867.5,16867.5,16867.5,16867.5
Institutional,1.0,66027.0,NaN,66027.0,66027.0,66027.0,66027.0,66027.0
Large Residential,1.0,160960.0,NaN,160960.0,160960.0,160960.0,160960.0,160960.0
Residential,1.0,53288.5,NaN,53288.5,53288.5,53288.5,53288.5,53288.5
Small residential,1.0,599600.0,NaN,599600.0,599600.0,599600.0,599600.0,599600.0

### Utility Data Reporters: Analysis

In [228]:
#Check to see how many Data Unility Providers are included
print("How many utility data reporters are included? " +str(len(new_file_pd.Company.unique())) + " utility data reporters are included.")

How many utility data reporters are included? 2 utility data reporters are included.

In [213]:
new_file_pd.groupby('Company').describe()

               Consumption (therms)                                     \
                               count          mean           std   min
Company
ConEd                          509.0  2.128567e+06  2.833575e+06   1.0
National Grid                  496.0  3.388214e+06  5.330099e+06  65.0

                                                          ConsumptionGJ  \
                    25%        50%        75%         max         count
Company
ConEd          182728.0  1094782.0  2853904.0  16694182.0         509.0
National Grid  158509.5  1223047.5  4615080.0  42747652.0         496.0

                                                                      \
                        mean            std  min       25%       50%
Company
ConEd          224575.750491  298958.048808  0.0  19279.00  115506.0
National Grid  357475.560484  562355.273624  7.0  16723.75  129038.5


                     75%        max
Company
ConEd          301103.00  1761330.0
National Grid  486916.75  4510117.0

### Finding how many values are in each data reports, and looking at the mean and median.

In [229]:
new_file_pd.Company.value_counts()

ConEd            518
National Grid    497
Name: Company, dtype: int64

In [230]:
new_file_pd.groupby('Company').ConsumptionGJ.mean()

Company
ConEd            224575.750491
National Grid    357475.560484
Name: ConsumptionGJ, dtype: float64

In [218]:
new_file_pd.groupby('Company').ConsumptionGJ.median()

Company
ConEd            115506.0
National Grid    129038.5
Name: ConsumptionGJ, dtype: float64

### Suggestion for Data Improvement :
#### We can see that there are less value counts in both the Consumption (therms) + ConsumptionGJ compared to Company/Zip Code

In [233]:
new_file_pd.count()

Zip Code                  1015
BuildingType              1015
 Consumption (therms)     1005
ConsumptionGJ             1005
Company                   1015
dtype: int64

### We can drop the duplicate values by this command

In [238]:
new_file_pd[['Zip Code','BuildingType','Company']].drop_duplicates()

,Zip Code,BuildingType,Company
0,10300,Commercial,National Grid
1,10335,Commercial,National Grid
2,10360,Large Residential,National Grid
3,11200,Commercial,National Grid
4,11200,Institutional,National Grid
5,11200,Small residential,National Grid
6,11254,Small residential,National Grid
7,11274,Commercial,National Grid
8,11279,Commercial,National Grid
9,11279,Large Residential,National Grid
10,11303,Commercial,National Grid
11,11303,Small residential,National Grid
12,11313,Small residential,National Grid
13,11314,Small residential,National Grid
14,11315,Commercial,National Grid
15,11315,Institutional,National Grid
16,11315,Large Residential,National Grid
17,11315,Small residential,National Grid
18,11323,Commercial,National Grid
19,11332,Commercial,National Grid
20,11335,Large Residential,National Grid
21,11337,Commercial,National Grid
22,11343,Small residential,National Grid
23,11350,Commercial,National Grid
24,11388,Commercial,National Grid
25,11400,Commercial,National Grid
26,11400,Industrial,National Grid
27,11400,Institutional,National Grid
28,11400,Large Residential,National Grid
29,11400,Small residential,National Grid
...,...,...,...
966,"10302(40.63083331110846, -74.13773429869889)",Small residential,National Grid
967,"11354(40.76862022064671, -73.82719028070687)",Large Residential,ConEd
969,"10302(40.63083331110846, -74.13773429869889)",Industrial,National Grid
971,"10312(40.54295597733653, -74.18037681723627)",Commercial,National Grid
972,"11204(40.619055848049015, -73.98479859887618)",Industrial,National Grid
974,"11374(40.72646491702238, -73.86148084756303)",Commercial,National Grid
975,"11209(40.62338709723679, -74.03065295347096)",Industrial,National Grid
979,"11359(40.79159246611948, -73.77693836811113)",Commercial,ConEd
981,"11378(40.72145310497689, -73.90854350068196)",Institutional,National Grid
982,"11238(40.67886241346963, -73.9638204696389)",Small residential,National Grid
984,"10314(40.59649030298516, -74.16599111879503)",Industrial,National Grid
987,"11356(40.7849280967543, -73.84181070040347)",Large Residential,ConEd
990,"11427(40.72931057432362, -73.75067602128132)",Commercial,National Grid
992,"11226(40.64650500230408, -73.9571900991437)",Small residential,National Grid
993,"11423(40.71722229567246, -73.7671414999802)",Large Residential,National Grid
994,"11219(40.63277295540763, -73.99667681118586)",Large Residential,National Grid
996,"11224(40.576304656334855, -73.99953200040147)",Small residential,National Grid
997,"10001(40.75025902143676, -73.99688630375988)",Large Residential,ConEd
999,"11225(40.66317005855143, -73.95370110911887)",Industrial,National Grid
1000,"11373(40.73871040256307, -73.87835115518163)",Commercial,ConEd
1001,"11205(40.693882095282504, -73.96433450773128)",Commercial,National Grid
1002,"10314(40.59649030298516, -74.16599111879503)",Institutional,National Grid
1003,"11414(40.65817022817356, -73.84496263981396)",Small residential,National Grid
1004,"11429(40.70991312049415, -73.73864031609764)",Commercial,National Grid
1006,"11216(40.680758670876, -73.94926775090596)",Commercial,National Grid
1007,"11213(40.67122516920625, -73.93644336636822)",Small residential,National Grid
1008,"11426(40.73704138495202, -73.72415699894628)",Small residential,National Grid
1009,"10037(40.81329776108288, -73.93728252556804)",Large Residential,ConEd
1012,"10461(40.846960590359004, -73.840632836736)",Large Residential,ConEd
1013,"11420(40.67334524268887, -73.81770717164864)",Commercial,National Grid